/* CSS Variables */
:root {
  --primary: #ddd;
  --dark: #333;
  --light: #fff;
  --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

html {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--dark);
}

body {
  background: #74ebd5;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ACB6E5, #74ebd5);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ACB6E5, #74ebd5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  margin: 30px 25px;
  line-height: 1.4;
}

.wrapper {
  background: var(--light);
  display: grid;
  grid-gap: 0.1rem;
  box-shadow: var(--shadow);
}

.wrapper h1, h2, p, .button {
  margin: 1rem;
  text-align: center;
}

.wrapper h2 {
  background: var(--primary);
  box-shadow: var(--shadow);
}

.wrapper hr {
  border-top: 5px dotted black;
  width: 50%;
  margin: auto;
}

.button {
  display: block;
  font-size: 2rem;
  color: var(--dark);
  margin-left: 10rem;
  margin-right: 10rem;
}

a {
  color: var(--dark);
  text-decoration: none;
}

.wrapper a:hover {
  color: #642B73;
}
